

__pycache__/
venv/
*.pyc
.env

.DS_Store
._*

.dropbox
.dropbox.attr
.dropbox.cache


.ipynb_checkpoints

Figures/*
!Figures/.gitkeep
oldAndScratch/
data/*
!data/.gitkeep
!high_school_proximity/

ScratchFigs/*
!ScratchFigs/.gitkeep

